body, html{
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.6;
}

.card__svg {
    position: absolute;
    left: 0;
    top: 28%;
    width: inherit !important;
}

h2::after {
    color: white;
}

#padingl{
    padding-top: 40px;
    padding-left: 0;
}

.row {
    margin-right: 15px;
    justify-content: center;
}

.middli{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.cardl{
    cursor: pointer;
    width: 18vw;
    height: 45vh;
    /*Earlier it was margin : auto; which is changed to given below for proper spacing*/
    margin-left: inherit;
}

.front, .back{
    border-radius: 6px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    font-weight: 300;

    transition: ease-in-out 0.41s;
    transition-property: all;
    transition-duration: 0.41s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}

.front .front-header{
    height: 80%;
    text-align: center;
    /*box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);*/
}
.front .front-header img{
    width: 100%;
    height: 100%;
    
}
/*Not Working*/
#fontsize{
    font-size: 14px;
}
/*Padding of Text is controlled from here FRONT */
.front .front-content{
    color: #fefeff;
    text-align: start;
    font-size: 10px;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 1%;
    padding-bottom: 7.7%;
    /*border: 1px solid rgb(17, 17, 17);*/
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.front{
    background: #333;
    transform: perspective(600px) rotateY(0deg);
}
.back{
    background: rgb(17, 17, 17);
    transform: perspective(600px) rotateY(180deg);
}

/*Experiment on border of back part*/
.back{
    border: 1px solid rgb(252, 79, 2);
}

.back-content{
    color: #fefeff;
    text-align: center;
    width: 100%;
    font-size: 14px;
    transform: translate(-50%, -50%);
}
.back-content h2{
    font-weight: 300;
    color: rgb(252, 79, 2);
}
.back-content p{
    padding-top: 9%;
    padding-right: 7%;
    padding-left: 7%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}

.se{
    margin: 10px 0px;
}
/* linkdin Button
.se a{
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    font-size: 12px;
    transition: 0.4s;
    border-radius: 50%
}

.se a:hover{
    background: #fefeff;
    color: rgb(17, 17, 17);
}
*/
.se .btr{
    text-decoration: none;
    width: 90px;
    height: 34px;
    border-radius: 7%;
    display: inline-block;
    text-align: center;
    padding: 7px 5px;
    color: rgb(17, 17, 17);
    background: #fcfcfc;
    margin-top: 30px;
    transition: 0.4s;
}

.se .btr:hover{
    color: rgb(252, 79, 2);
}


.cardl:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.cardl:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}



@media screen and (max-width: 1200px) {
    .cardl{
        cursor: pointer;
        width: 24vw;
        height: 45vh;
        /*Earlier it was margin : auto; which is changed to given below for proper spacing*/
        margin-left: inherit;
        margin-top: 5%;
    }
    .card__svg {
        position: absolute;
        left: 0;
        top: 55%;
        width: inherit !important;
    }
  }


@media screen and (max-width: 1000px) {
    .cardl{
        cursor: pointer;
        width: 38vw;
        height: 45vh;
        /*Earlier it was margin : auto; which is changed to given below for proper spacing*/
        margin-left: inherit;
        margin-top: 5%;

        /*Later EDIT*/
        transform: translate(-50%, -50%);
    }
    .card__svg {
        position: absolute;
        left: 0;
        top: 41%;
        width: inherit !important;
    }
  }
  
  @media screen and (max-width: 670px) {
    .cardl{
        cursor: pointer;
        width: 45vw;
        height: 45vh;
        /*Earlier it was margin : auto; which is changed to given below for proper spacing*/
        margin-left: inherit;
        margin-top: 10%;
  }
  .card__svg {
    position: absolute;
    left: 0;
    top: 28%;
    width: inherit !important;
    }
}
  
  @media screen and (max-width: 470px) {
    .cardl{
        cursor: pointer;
        width: 70vw;
        height: 45vh;
        /*Earlier it was margin : auto; which is changed to given below for proper spacing*/
        margin-left: inherit;
        margin-top: 20%;
  }
  .card__svg {
    position: absolute;
    left: 0;
    top: 36%;
    width: inherit !important;
    }
    .middli {
        transform: translate(-50%, -50%);
    }
}

  @media screen and (max-width: 370px) {
    .cardl{
        cursor: pointer;
        width: 80vw;
        height: 45vh;
        /*Earlier it was margin : auto; which is changed to given below for proper spacing*/
        margin-left: inherit;
        margin-top: 20%;
  }
  .card__svg {
    position: absolute;
    left: 0;
    top: 23.5%;
    width: inherit !important;
    }
    .middli {
        transform: translate(-50%, -50%);
    }  
}