body, html{
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.6;
}

.section{
    text-align: center;
    padding: 50px 80px;
    font-family: 'Raleway', sans-serif;
}
.section-light{
    background-color: #f4f4f4;
	color: #666;
}
.section-light .h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 77px;
    font-size: 50px;
}


/* hr tag Gradient transparent - color - transparent */

hr.style-two {
    border: 0;
    height: 1.7px;
    background-image: linear-gradient(to right, rgba(65, 105, 225, 0), rgba(65, 105, 225, 0.75), rgba(65, 105, 225, 0));
    max-width: 35%;
}

/*ROW-1 Column-1*/
#icon {
    padding-top: 5%;
}

/*Not Working*/
#icon .col-lg-4 .fas, .fa-brain:hover{
    cursor: pointer;
    color: royalblue;
}

/*padding for paragraph of row-1 column 1,2 */
#colpad .hpara{
    padding-top: 8%;
}

/*Working*/
#colpad .fas, .fa-apple:hover{
    cursor: pointer;
    color: royalblue;
}


/* Not Working
#carouselExampleCaptions .carousel-item img{
    justify-content: center;
    align-items: center;
    max-width: 100px;
}
*/

/*section-2 CSS is here*/
.section-dark{
    background-color: rgb(17, 17, 17);
    color: #f4f4f4;
}
.section-dark .orange{
    color: rgb(252, 79, 2);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding-top: 1.1%;
    padding-bottom: 1%;
}
.section-dark .h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 77px;
    font-size: 50px;
}

#section-2-hr {
    border: 0;
    height: 0.85px;
    background-image: linear-gradient(to right, rgba(252, 79, 2, 0), rgba(252, 79, 2, 0.75), rgba(252, 79, 2, 0));
    max-width: 60%;
}

