/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(17, 17, 17); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(252, 79, 2); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(252, 88, 50); 
  }