#sponsors {
    height: 70vh;
    background-color: white !important;
}
.section .display-4{
    padding-top: 25px;
    padding-bottom: 20px;
    color: black;
}
/*hr tag*/
#section-6-hr {
    border: 0;
    height: 1.02px;
    background-image: linear-gradient(to right, rgba(252, 79, 2, 0), rgba(252, 79, 2, 0.75), rgba(252, 79, 2, 0));
    max-width: 60%;
}

.col-md-12{
    padding-top: 30px;
}

.card {
    display: inline-block;
    border: none;
}

.card-img-top {
    width: 117px;
    height: 117px;
}

#multi-item-example {
    padding-top: 5%;
}





@media screen and (max-width: 1200px) {
    #sponsors {
        height: 60vh;
    }
    #section-6-hr {
        border: 0;
        height: 1.02px;
        background-image: linear-gradient(to right, rgba(252, 79, 2, 0), rgba(252, 79, 2, 0.75), rgba(252, 79, 2, 0));
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    #sponsors {
        height: 50vh;
    }

    #multi-item-example {
        padding-top: 10%;
    }
}

@media screen and (max-width: 670px) {
    #sponsors {
        height: 150vh;
    }

    #multi-item-example {
        padding-top: 15%;
        padding-left: 4%;
    }

    #section-6-hr {
        border: 0;
        height: 1.02px;
        background-image: linear-gradient(to right, rgba(252, 79, 2, 0), rgba(252, 79, 2, 0.75), rgba(252, 79, 2, 0));
        max-width: 100%;
    }
}

@media screen and (max-width: 470px) {
    #sponsors {
        height: 150vh;
    }

    #multi-item-example {
        padding-top: 15%;
    }
}