.section .display-4{
    padding-top: 25px;
    padding-bottom: 20px;
    color: black;
}
/*hr tag*/
#section-6-hr {
    border: 0;
    height: 1.75px;
    background-image: linear-gradient(to right, rgba(252, 79, 2, 0), rgba(252, 79, 2, 0.75), rgba(252, 79, 2, 0));
    max-width: 60%;
}

.col-md-12{
    padding-top: 30px;
}

.col-sm-2 img{
    
}