
/* Slideshow container */
.slideshow-container {
  position: relative;

  background: url(https://images.unsplash.com/photo-1584530419674-cf53a7887dc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  min-height: 600px;

  position: relative;
  opacity: 1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

  background-attachment: fixed;
}

/* Slides */
.mySlides {
  display: none;
  padding: 10px;
  text-align: center;
  color: rgb(252, 252, 252);
  font-size: 20px;

}
.mySlides img{
    margin-top: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.fa-quote-left{
    font-size: 70px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(252, 252, 252);
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {
    color: rgb(17, 17, 17);
}